[Unit]
Description=Launches a Fast DDS discovery server.

[Service]
Requires=echo-date-0.service
ExecStart=/home/$USER/.nrg_bash/dds_discovery_server.sh start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
