[Unit]
Description=Service to launch a FastDDS discovery server.

[Service]
ExecStart=launch_fastdds_discovery_server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
